@model GiveAwayApp.Models.StatiskViewModel
@{
    ViewData["Title"] = "Statistik";
}
<div class="container">
    <section>
        <h3 id="SpilStatistik">Spil statistik</h3>
        <div class="row justify-content-between">
            <div class="col-auto">
                <h5>Mest populære spil</h5>
                <table class="table table-responsive table-striped table-hover">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Valgt antal</th>
                        <th scope="col">Titel</th>
                    </tr>
                    @{int popSpilIndex = 1;}
                    @foreach (Spil spil in Model.PopulæreSpilList)
                    {
                        <tr>
                            <td scope="col">#@(popSpilIndex++)</td>
                            <td scope="col">@spil.ValgtAntal</td>
                            <td scope="col">
                                <a href="@Href($"/Spil?SpilGenre=&TitelFilter={spil.Titel.Replace(" ","+")}")">
                                    @spil.Titel
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="col-auto">
                <h5>Mest populære genre</h5>
                <table class="table table-responsive table-striped table-hover">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Valgt antal</th>
                        <th scope="col">Genre</th>
                    </tr>
                    @{ int popSpilGenreIndex = 1;}
                    @foreach (var spilGenre in Model.PopulæreGenreList)
                    {
                        <tr>
                            <td scope="col">#@(popSpilGenreIndex++)</td>
                            <td scope="col">@spilGenre.ValgtAntal</td>
                            <td scope="col">
                                <a href="@Href($"/Spil?SpilGenre={spilGenre.Genre}&TitelFilter=")">
                                    @spilGenre.Genre
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </section>
    <hr />
    <section>
        <h3 id="HjemmesideStatistik">Hjemmeside Statistik</h3>
        <div class="row">
            <ul class="col list-unstyled">
                <li class="h5">Antal af brugere: @Model.AntalBrugere</li>
                <li class="h5">Antal af besøg i dag: @Model.SyvDageStatistik.Find(x => x.AntalBesøgereForDato == DateTime.UtcNow.Date).AntalBesøgere</li>
            </ul>
            <ul class="col list-unstyled">
                <li class="h5">Antal af besøg fra de sidste 7 dage</li>
                @foreach (var stat in Model.SyvDageStatistik)
                {
                    <li>D. @stat.AntalBesøgereForDato.ToShortDateString() var der @stat.AntalBesøgere besøg</li>
                }
                <li class="h5 mt-2">Se mere statistik ved at trykke på knappen til venstre i sidefoden.</li>
            </ul>
            
        </div>
    </section>
</div>