@model GiveAwayApp.Models.SpilGenreViewModel

@{
    ViewData["Title"] = "Spiludvalg";
}

<h1>Spiludvalg</h1>

<p>
    <a asp-action="Create">Tilføj et nyt spil</a>
</p>
<section class="container d-inline-block">
    <form class="float-lg-left" asp-controller="Spil" asp-action="Index" method="get">
        <p>
            Genre: <select class="form-select" asp-for="SpilGenre" asp-items="Model.Genre">
                <option selected>Alle</option>
            </select>
            Titel: <input type="text" asp-for="TitelFilter" />
            <input type="submit" value="Filter" />
        </p>
    </form>
    <!--<form class="float-lg-right" asp-controller="Spil" asp-action="Index" method="get">
            <p>
                Sortering: <select>
                    <option value="">Alfabetisk (A-Å)</option>
                    <option value="">Alfabetisk (Å-A)</option>
                    <option value="">Nyeste udgivet først</option>
                    <option value="">Ældste udgivet først</option>
                </select>
            </p>
        </form>-->
</section>

    <section class="container">
        <div class="row">
            @foreach (var item in Model.SpilList)
            {
                <div class="col-md-3">
                    <a class="" href="@Href($"https://store.steampowered.com/app/{item.SteamId}/")">
                        @Html.DisplayFor(modelItem => item.Titel)
                    </a> <br />
                    <a asp-action="Edit" asp-route-id="@item.SpilId"><img class="img-fluid" src="@Href(item.SpilCoverUrl)" alt="@item.Titel" /></a>
                </div>
            }
        </div>
    </section>
