@model GiveAwayApp.Models.SpilGenreViewModel

@{
    ViewData["Title"] = "Spiludvalg";
}

<h1>Spiludvalg</h1>

@if (ViewBag.BrugerId == "276d0d24-816f-4f66-84f2-bccc6905bc4a")
{
    <a class="btn btn-primary float-left" asp-action="Create">Tilføj et nyt spil</a>
}

<section class="container d-inline-block p-0">
    <form class="float-lg-left" asp-controller="Spil" asp-action="Index" method="get">
        <p>
            Genre: <select class="form-select" asp-for="SpilGenre" asp-items="Model.Genre">
                <option selected value="">Alle</option>
            </select>
            Titel: <input type="text" asp-for="TitelFilter" />
            <input type="submit" value="Filter" />
        </p>
    </form>
    <!-- <form class="float-lg-right" asp-controller="Spil" asp-action="Index" method="get">
            <p>
                Sortering: <select>
                    <option value="">Alfabetisk (A-Å)</option>
                    <option value="">Alfabetisk (Å-A)</option>
                    <option value="">Nyeste udgivet først</option>
                    <option value="">Ældste udgivet først</option>
                </select>
            </p>
        </form> -->
    @if (User.Identity.IsAuthenticated)
    {
        <button asp-action="InsendValgteSpil" class="float-right btn btn-primary" form="ValgteSpil" type="submit">Indsend valgte spil</button>
    }
    else
    {
        <button title="Du skal være logget ind før at du kan vælge de spil du gerne vil vinde" type="button" class="float-right btn btn-primary disabled" disabled>Indsend valgte spil</button>
    }
</section>

<section class="container">
    <form class="row" id="ValgteSpil" method="post">
        @foreach (var spil in Model.SpilList)
        {
            <div class="col-md-3">
                <div class="d-inline">
                    <a class="float-left" href="@Href($"https://store.steampowered.com/app/{spil.SteamId}/")">
                        @Html.DisplayFor(modelItem => spil.Titel)
                    </a>
                    <input class="float-right" type="checkbox" name="valgteSpilId" value=@spil.SpilId>
                </div>
                <a href="@Href($"https://store.steampowered.com/app/{spil.SteamId}/")"><img class="img-fluid" src="@Href(spil.SpilCoverUrl)" alt="@spil.Titel" /></a>
            </div>
        }
    </form>
</section>
