@model GiveAwayApp.Models.SpilGenreViewModel

@{
    ViewData["Title"] = "Ønskeliste";
}
<section class="container">
    <h1>Ønskeliste</h1>
    <p>På denne side kan du redigere i dit valg af spil som du gerne vil vinde.</p>
    <p class="mb-1">Her kan du filtrer efter genre og titel:</p>
</section>

<section class="container d-flex mb-3 justify-content-between">
    <form class="d-flex" asp-controller="Spil" asp-action="Ønskeliste" method="get">
        <div class="mr-3">
            Genre:
            <select class="form-select h-100" asp-for="SpilGenre" asp-items="Model.Genre">
                <option selected value="">Alle</option>
            </select>
        </div>
        <div>
            Titel: <input class="h-100" type="text" asp-for="TitelFilter" />
            <input class="h-100" type="submit" value="Filter" />
        </div>
        <i class="bi bi-x-square-fill text-danger" style="font-size: 1.5rem; padding-left: 4.5px;"></i>
    </form>
    @if (User.Identity.IsAuthenticated)
    {
        <button asp-action="SletValgteSpil" class="btn btn-danger" form="ValgteSpil" type="submit">Slet valgte spil</button>
    }
    else
    {
        <button title="Du skal være logget ind før at du kan slette spil du ikke vil have længere" type="button" class="btn btn-danger disabled" disabled>Slet valgte spil</button>
    }
</section>

<section class="container">
    <form class="row" id="ValgteSpil" method="post">
        @foreach (var spil in Model.SpilList)
        {
            <div class="col-md-3 pb-3">
                <div class="d-flex align-items-baseline">
                    <label class="m-0" for=SpilId+@spil.SpilId>
                        <a href="@Href($"https://store.steampowered.com/app/{spil.SteamId}/")">@Html.DisplayFor(modelItem => spil.Titel)</a>
                    </label>
                    <input class="ml-auto" type="checkbox" name="valgteSpilIds" value=@spil.SpilId>
                </div>
                <a href="@Href($"https://store.steampowered.com/app/{spil.SteamId}/")"><img class="img-fluid" src="@Href(spil.SpilCoverUrl)" alt="@spil.Titel" /></a>
            </div>
        }
    </form>
</section>